* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url('images/background.jpg');
}

h2 {
    text-align: center;
    padding-top: 10px;
    font-size: 33px;
}

.pitanja {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(221, 217, 212);
    box-shadow: 1px 1px 2px 2px black;
    border-radius: 6px;
    height: 55%;
    width: 50%;
    padding: 30px;
}

.ponudjeni-odgovori {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 30px;
}

.odgovori, .zapocniIgru {
    border-radius: 15px;
    background-color: rgb(84, 84, 228);
    color: rgb(170, 170, 223);
    font-weight: bold;
    font-size: 16px;
    border: none;
    height: 45px;
    width: 100%;
}

.zapocniIgru {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.odgovori.tacno {
    background-color: rgb(5, 173, 5);
    color: white;
}

.odgovori.netacno {
    background-color: rgb(245, 56, 56);
    color: white;
}



.odgovori:focus, .zapocniIgru:focus {
    outline: none;
}

.odgovori:hover, .zapocniIgru:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px black;
}

.dugmici {
    padding: 20px;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 80px;
    width: 100%;
    justify-content: center
}

.odustani, .nastavi {
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    width: 150px;
    height: 35px;
}

.odustani {
    background-color: rgb(28, 28, 100);
}

.nastavi {
    background-color: rgb(24, 138, 113);
}

.odustani:hover, .nastavi:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px black;
}

.odustani:focus, .nastavi:focus {
    outline: none;
}

.sakrij {
    display: none;
}

.unos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 40px;
    border: solid 2px rgb(84, 84, 228);
    font-size: 25px;
    border-radius: 15px;
    outline: none;
    padding: 10px;
}

.proveri {
    position: fixed;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    width: 150px;
    height: 35px;
    background-color: rgb(24, 138, 113);
}

.proveri:focus {
    outline: none;
}

.proveri:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px black;
}

.unos.tacno {
    border: solid 4px rgb(28, 221, 10);
}

.unos.netacno {
    border: solid 4px red;
}

.brojPoena {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(221, 217, 212);
    box-shadow: 1px 1px 2px 2px black;
    border-radius: 6px;
    height: 25%;
    width: 50%;
    text-align: center;
}

.brojPoenaTekst {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

.tajmer {
    text-align: right;
    margin: 20px;
    font-size: 75px;
    font-weight: bold;
    color:rgb(170, 170, 223);
}

.vidiTabelu {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 15px;
    background-color: rgb(84, 84, 228);
    color: rgb(170, 170, 223);
    font-weight: bold;
    font-size: 16px;
    border: none;
    height: 35px;
    width: 250px;
}

.vidiTabelu:focus {
    outline: none;
}

.vidiTabelu:hover {
    cursor: pointer;
    box-shadow: 1px 1px 2px 2px black;
}
