* { 
    font-size: 12px;
    font-family: Arial;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('images/background.png');
}

h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    font-family: Georgia;
    text-shadow: 3px 3px #999999;
}